*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  background-color: #ebe8e8; }

/* SCSS HEX */
/* SCSS HEX */
.header {
  height: 75vh;
  background-image: linear-gradient(to right, rgba(89, 165, 216, 0.78) 0%, rgba(145, 229, 246, 0.78) 20%, rgba(199, 249, 204, 0.78) 50%, rgba(255, 255, 255, 0.78) 80%), url("../assets/header_tiles_background.jpg");
  background-size: cover;
  position: relative; }
  .header__box {
    width: 30vw;
    border-radius: 5px;
    box-shadow: 0 2rem 7rem rgba(0, 0, 0, 0.4);
    padding: 3rem;
    text-align: center;
    background-image: linear-gradient(to right bottom, rgba(145, 229, 246, 0.78), rgba(199, 249, 204, 0.78));
    position: absolute;
    top: 20%;
    right: 10%;
    animation-name: moveInUp;
    animation-duration: 1s;
    animation-timing-function: ease-in-out; }
  .header__logo {
    width: 15rem;
    height: 10rem; }
  .header__title {
    font-size: 5rem;
    font-weight: 300;
    margin-bottom: .8rem; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  left: 6rem;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  left: 6.5rem;
  background-image: radial-gradient(#91e5f6ff, #c7f9ccff);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }

.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 4rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all .4s; }

.navigation__link span {
  margin-right: 1.5rem;
  display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #386fa4ff;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.section {
  border: 1px solid #d9d9d9;
  margin: 2rem 1rem;
  padding: 2rem;
  border-radius: 3px;
  height: 60vh; }
  .section__para {
    margin: 10rem;
    width: 60%;
    height: min-content; }
  .section__heading {
    font-size: 5rem;
    font-weight: 400; }
  .section__text {
    font-size: 3rem;
    font-weight: 300; }
  .section__about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, #c7f9ccff 0%, #fff 90%);
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    transition: all 2s; }
    .section__about--img {
      width: 20%;
      margin: 3rem; }
  .section__events {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, rgba(145, 229, 246, 0.7) 0%, rgba(255, 255, 255, 0.7) 90%), url("../assets/events.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-in-out; }
    .section__events--img {
      width: 20%;
      margin: 3rem; }
  .section__gallery {
    width: 25%;
    display: grid;
    grid-template-areas: "img1 img1" "img2 img3";
    grid-gap: 10px; }
    .section__gallery--item1 {
      grid-area: img1;
      width: 100%; }
    .section__gallery--item2 {
      grid-area: img2;
      width: 100%; }
    .section__gallery--item3 {
      grid-area: img3;
      width: 100%; }
  .section__achievements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, #c7f9ccff 0%, #fff 90%);
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    transition: all 2s; }
    .section__achievements--img {
      width: 20%;
      margin: 3rem; }

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  80% {
    transform: translateY(1.5rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.footer {
  background-color: #fff;
  text-align: center;
  padding: .6rem; }
  .footer__text {
    text-align: center;
    margin: .6rem; }
    .footer__text--1 {
      font-size: 3rem; }
  .footer__logo {
    margin: 1.5rem; }
